.App {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
}

.container {
  border: 2px solid #61dafb;
  padding: 25px;
  border-radius: 10px;
}

.wrapper-button {
  display: flex;
  justify-content: space-between;
  border: 2px solid #61dafb;
  padding: 34px 16px;
  border-radius: 10px;
}

.wrapper-count {
  background-color: #61dafb;
  padding: 57px 190px;
  border-radius: 10px;
  margin-bottom: 25px;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.stop {
  color: #f01443;
}

button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
}

button[disabled] {
  background-color: #3e7284;
  color: #666666;
}
